@media (min-width: 1000px) {

    main {
        padding: 2% 0;
    }

    main h2 {
        font-size: 40px;
    }

    /* ------------ 
        HEADER
    ------------- */

    header article {
        height: 55px;
    }

    header aside img {
        width: 200px;
    }

    header details {
        display: none;
    }

    header nav {
        display: flex;
        width: 60%;
    }

    header nav>ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 100%;
        min-width: 600px;
    }

    header nav>li {
        display: flex;
        width: 100%;
    }

    header nav>ul>li>a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        padding-bottom: 5%;
    }

    header nav>ul>li>a:hover {
        border-bottom: 2.8px solid #fff;
    }


    header nav ul .btn-store {
        background: #fff;
        border-radius: 30px;
        padding: 1.3% 2%;
    }

    header nav ul .btn-store a {
        color: var(--blue);
    }

    /*-------------
       MAIN VISUAL
    --------------*/

    .wave {
        height: 80vh;
    }

    .wave .main_title {
        margin-bottom: 2%;
        font-size: 1.6rem;
    }

    .wave a {
        font-size: 17px;
    }

    .wave::after {
        background: url("https://raw.githubusercontent.com/choloca/nekofresh/b7816db8ccc893b5507cf98972a16d38215ccd53/img/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 170px;
        bottom: -35px;
    }

    /*-------------
        STORE
    --------------*/

    .service div {
        column-gap: 14%;
        padding: 6% 12%;
    }

    .service figure {
        padding: 2.4%;
    }

    .service aside {
        height: 240px;
    }

    .service article {
        font-size: 22px;
    }

    .service article p {
        font-size: 18px;
    }


    /*-------------
        STORE
    --------------*/

    .store {
        height: 55vh;
    }

    .store h2 {
        font-size: 40px;
        padding: 0 12%;
        line-height: 2.2;
    }


    /*-------------
        PRODUCTS
    -------------*/

    .products p {
        font-size: 24px;
        padding: 0 20%;
    }

    .products figure {
        width: fit-content;
        padding: 6% 18%;
        row-gap: 30px;
        column-gap: 30px;
        /* width: 80%; */
    }

    .products img {
        width: 18%;
    }

    .products a {
        margin-bottom: 4%;
        font-size: 20px;
    }

    /*-------------
        RECIPES
    -------------*/

    .recipes h2 {
        padding-top: 6%;
    }

    .recipes>div {
        padding: 2% 12% 10% 3%;
    }

    .recipes .polaroid {
        width: 80%;
    }

    .recipes .masking-tape {
        left: 30%;
        width: 130px;
        height: 35px;
    }

    .recipes .polaroid article {
        padding-bottom: 12%;
    }

    .recipes .polaroid article h4 {
        font-size: 28px;
    }

    .recipes .polaroid article p {
        font-size: 20px;
    }

    .recipes .recipe-p {
        row-gap: 60px;

    }

    .recipes .recipe-p p {
        font-size: 24px;
        padding: 12% 10% 0;
    }

    .recipes div>a {
        font-size: 20px;
        border-radius: 30px;
    }

    /*-------------
         FAQ
    -------------*/

    .faq {
        padding: 8% 16% 4%;
        font-size: 20px;
    }


    /*-------------
         ACCESS
    -------------*/

    .access div {
        display: flex;
        justify-content: space-evenly;
        padding: 5% 0;
    }

    .access iframe {
        width: 45%;

    }

    .access article {
        width: 40%;
        padding-top: 0;

    }

    .access article div {
        display: flex;
        flex-direction: column;
    }

    .access .bold {
        font-size: 20px;
    }


    /*-------------
        FOOTER
    -------------*/

    footer {
        padding: 6% 8% 1%;
    }

    footer img {
        width: 220px;
        padding-bottom: 12px;
    }

    footer section {
        font-size: 24px;
        row-gap: 30px;
        padding: 5%;
    }

    footer div {
        column-gap: 40px;
    }

    footer div a {
        font-size: 36px;
    }

    footer p {
        font-size: 14px;
    }


}


@media (min-width: 1600px) {
    .wave::after {
        display: none;
    }
}
